<style>

</style>
<div class="container">
    <div id="signupbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title"><center>Sign Up</center></div>
                </div>
                <div class="panel-body" >
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= devise_error_messages! %>

                                <div class="form-group">
                                     <div class="col-md-12">
                                        <%= f.text_field :username, autofocus: true, class: 'form-control', placeholder: 'username' %>
                                        <br>
                                    </div>
                                </div>
                                <div class="form-group">
                                       <div class="col-md-12">
                                          <%= f.email_field :email, autocomplete: "off", class: 'form-control', placeholder: 'email' %>
                                          <br>
                                      </div>
                                </div>
                                <div class="field">
                                     <div class="col-md-12">
                                        <%= f.password_field :password, autofocus: true, class: 'form-control', placeholder: 'password' %>
                                        <br>
                                    </div>
                                </div>
                                <div class="field">
                                     <div class="col-md-12">
                                        <%= f.password_field :password_confirmation, autofocus: true, class: 'form-control', placeholder: 'confirm password' %>
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div class="actions">
                                  <center><%= f.submit "Sign up", class: 'btn btn-success' %></center>
                                </div>

                        <% end %>
                        <center>Already have an account? <%= render "devise/shared/links" %></center>

                    </div>
                </div>
    </div>
</div>
<script type="text/javascript">
/*
$( document ).ready(function () {
  $( "#new_user" ).validate( {
    rules: {
      username: {required: true},
      email: {required: true},
      password: {required: true},
      password_confirmation: {required: true},


    },
    messages: {
      username: "Username can't be blank",
      email: "Email can't be blank",
      password: "Password can't be blank",
      password_confirmation: "Password_confirmation can't be blank",


    },
    errorElement: "em",
    errorPlacement: function ( error, element ) {
      // Add the `help-block` class to the error element
      error.addClass( "help-block" );

      if ( element.prop( "type" ) === "checkbox" ) {
        error.insertAfter( element.parent( "label" ) );
      } else {
        error.insertAfter( element );
      }

    },
    highlight: function ( element, errorClass, validClass ) {
      $( element ).parents( ".col-md-12" ).addClass( "has-error" ).removeClass( "has-success" );
    },
    unhighlight: function (element, errorClass, validClass) {
      $( element ).parents( ".col-md-12" ).addClass( "has-success" ).removeClass( "has-error" );
    }
  });
});
*/
</script>
