<%= form_for(summary) do |f| %>
  <% if summary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(summary.errors.count, "error") %> prohibited this summary from being saved:</h2>

      <ul>
      <% summary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_area :description, class: 'form-control', placeholder: 'Summarize all about Yourself', style:'height:100px', autofocus: true, required: true %>
      <br>
    </div>
  </div>

  <div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="pull-right">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<% end %>
<script type='text/javascript'>


</script>
