<!DOCTYPE html>
<html>
  <head>
    <title>E-resume.my</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'resume5', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>

    </style>
  </head>
    <body>
      <div class="container main">
          <div class="row">
              <div class="col-xs-12 bg1">
                <div class="col-xs-4 pic ">
                  <img src="<%= @user.avatar(:thumb) %>" />
                </div>

                <div class="col-sm-8 pe">
                  <p>
                    <h4 class="label-title"><% if @user.personal_detail.present? %><%= @user.personal_detail.name%><%end%></h4>
                    <p style="text-align:justify">
                      <% if @user.summary.present? %>
                      <%= @user.summary.description %>
                      <%end%>
                    </p>
                  </p>
                </div>
              </div>
          </div>
          <div class="row">
            <% if @user.educations.present? %>
            <div class="col-xs-4">
              <div><strong>EDUCATION</strong></div>
              <div class="line-print">&nbsp;</div>
              <% @user.educations.order(end_date: :desc).each do |edu| %>
              <div class="row">
              <div class="col-xs-6"><strong><%= edu.major %></strong></div><div class="col-xs-6" style="text-align:right"><%= edu.date_enter%>-<%= edu.date_quit%></div>
              <p><div class="col-xs-12" style="padding-bottom:5px;"><%= edu.description%></div>
                <br></br>
              </p>
              </div>
              <%end%>

            </div>
            <%end%>
            <% if @user.employment_histories.present? %>
            <div class="col-xs-4">
              <div><strong>WORKING EXPERIENCES</strong></div>
              <div class="line-print">&nbsp;</div>
              <% @user.employment_histories.order(end_date: :desc).each do |work| %>
              <div class="row">
              <div class="col-xs-6"><strong><%= work.job_title %></strong></div><div class="col-xs-6" style="text-align:right"><%= work.date_enter%>-<% if work.presently_emp? %>
               Present
              <%else%>
              <%= work.date_quit %>
              <%end%></div>
              <p><div class="col-xs-12" style="padding-bottom:5px;"><%= work.company%><br><%= work.description%></div>
                <br></br>
              </p>
              </div>
              <%end%>
            </div>
            <%end%>
            <% if @user.skills.present? %>
            <div class="col-xs-4">
              <div><strong>SKILLS</strong></div>
              <div class="line-print">&nbsp;</div>
              <% @user.skills.order(rate: :desc).each do |skill| %>
              <div class="col-xs-12"><strong><%= skill.title %></strong>
                <br> <% skill.rate.times.each do |r| %>
                        <span><i class="fa fa-star"></i></span>
                      <%end%>
              </div>
              <br></br>
              <%end%>
            </div>
            <%end%>

          </div>
          <div class="row">
            <% if @user.certificates.present? %>
            <div class="col-xs-4">
              <div><strong>CERTIFICATES</strong></div>
              <div class="line-print">&nbsp;</div>
              <% @user.certificates.each do |cert| %>
              <div class="col-xs-12"><strong><%= cert.title %></strong></div>

              <%end%>

            </div>
            <%end%>
            <% if @user.projects.present? %>
            <div class="col-xs-4">
              <div><strong>PROJECTS</strong></div>
              <div class="line-print">&nbsp;</div>
              <% @user.projects.order(project_date: :desc).each do |pro| %>
              <div class="row">
              <div class="col-xs-6"><strong><%= pro.title %></strong></div><div class="col-xs-6" style="text-align:right"><%= pro.pro_date%></div>
              <p><div class="col-xs-12" style="padding-bottom:5px;"><%= pro.company%><br><%= pro.description%></div>
                <br></br>
              </p>
              </div>
              <%end%>

            </div>
            <%end%>
            <% if @user.languages.present? %>
            <div class="col-xs-4">
              <div><strong>LANGUAGES</strong></div>
              <div class="line-print">&nbsp;</div>
              <% @user.languages.order(writing_rate: :desc).each do |lan| %>
              <div class="col-xs-12"><strong><%= lan.title %></strong>
              <br> <% lan.writing_rate.times.each do |r| %>
                      <span><i class="fa fa-star"></i></span>
                    <%end%>
                <br>
              </div>
              <%end%>
            </div>
            <%end%>
          </div>
          <div class="row">
            <br>
            <div class="col-xs-12">
              <div style="border-top:1px solid grey; width:100%"></div>
              <div style="border-bottom:1px solid grey; width:100%; padding-top:3px"></div>
            </div>
            <br>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <% if @user.references.present? %>
              <div class="row">
              <div class="col-xs-6">
                <div><strong>REFERENCES</strong></div>
                <div class="line-print">&nbsp;</div>
                <div class="col-xs-12">
                  <% @user.references.each do |ref| %>
                    <div class="col-xs-12">
                    <strong><%= ref.name %><br></strong>
                    <%= ref.company %><br>
                    <%= ref.address %><br>
                    <%= ref.phone %><br>
                    <%= ref.email %><br><br>
                    </div>
                  <%end%>
                </div>
              </div>
              <%end%>
              <% if @user.personal_detail.present? %>
              <div class="col-xs-6">
                <div><strong>CONTACT</strong></div>
                <div class="line-print">&nbsp;</div>
                <br>
                <div class="col-xs-12">
                  <div class="col-xs-12"><%= @user.personal_detail.full_street_address %></div><br>
                  <div class="col-xs-12"><%= @user.personal_detail.phone_no%></div><br>
                  <div class="col-xs-12"><%= @user.email%></div><br>
                </div>
              </div>
              <%end%>
            </div>
              <!--
              <div class="col-xs-4 bg1 noprint">
                <h5 class="label-title">Watch Video</h5>
                <p class="video-link">
                  <% @user.video_galleries.take(4).each do |video|%>
                    <a href="http://www.youtube.com/watch?v=<%= video.link %>" target="_blank"><%= video.name %></a>
                    <legend></legend>
                  <%end%>
                </p>
              </div>
              -->
            </div>
          </div>
      </div>
        <%= yield %>
    </body>
    </html>
<script>
</script>
