<!DOCTYPE html>
<html>
  <head>
    <title>E-resume.my</title>
    <meta name="pdfkit-page_size" content="A4"/>
    <meta name="pdfkit-margin_top" content="0"/>
    <meta name="pdfkit-margin_right" content="0"/>
    <meta name="pdfkit-margin_bottom" content="0"/>
    <meta name="pdfkit-margin_left" content="0"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'resume2', media: 'all' %>
    <%= stylesheet_link_tag    'print', media: 'all' %>
  <style>

  </style>

</head>
  <body>
    <div class="main">
      <div class="row">
      <div class="col-sm-4 left">
        <div class="name-header"><%= @user.personal_detail.name %><br><br></div>
        <section>
          <div class="section-header">
            PERSONAL DETAILS
          </div>
          <div class="section-content">
            Address:<br> <%= @user.personal_detail.full_street_address %><br><br>
            Phone No:<br> <%= @user.personal_detail.phone_no %><br><br>
            Email:<br> <%= @user.email %><br><br>
          </div>
        </section>

        <% if @user.languages.present? %>
        <section>
          <div class="section-header">
            KEY SKILLS
          </div>
          <div class="section-content">
            <% @user.skills.order(rate: :desc).take(4).each do |skill| %>
            <div class="row">
            <div class="col-sm-6"><strong><%= skill.title %></strong></div>
            <div class="col-sm-6" style="text-align:right"><% if skill.rate == 5  %>
                    <%= image_tag '5-circle-01.png', style: 'width:65px;height:19px' %>
                    <%elsif skill.rate == 3 %>
                      <%= image_tag '3-circle.png', style: 'width:60px;height:11px' %>
                      <%elsif skill.rate == 1 %>
                      <%= image_tag '2-circle.png', style: 'width:60px;height:11px' %>
                    <%end%><br> <%= skill.skil_rate %>  <br><br>
            </div>
            </div>

            <%end%>
          </div>
        </section>
        <%end%>
        <% if @user.languages.present? %>
        <section>
          <div class="section-header">
            LANGUAGES
          </div>
          <div class="section-content">
            <% @user.languages.order(writing_rate: :desc).take(4).each do |lan| %>
            <div class="row">
            <div class="col-sm-6"><strong><%= lan.title %> </strong></div>
            <div class="col-sm-6" style="text-align:right"><%= lan.lan_rate %><br><br></div>

            </div>
            <%end%>

        </section>
          <%end%>
          <% if @user.certificates.present? %>
        <section>
          <div class="section-header">
            CERTIFICATES
          </div>
          <div class="section-content">
            <% @user.certificates.take(4).each do |cert| %>
            <div class="row">
            <div class="col-sm-12"><strong><%= cert.title %> </strong><br><br></div>

            </div>
            <%end%>

        </section>
        <%end%>

      </div>
      <!-- right column -->
      <div class="col-sm-8 right">
        <% if @user.employment_histories.present? %>
        <section>
          <div class="title-content"><%= image_tag 'work-blue-01.png', style: 'width:25px;height:25px'%><strong> EXPERIENCES</strong></div>
          <div class="main-content">
            <% @user.employment_histories.order(start_date: :desc).take(4).each do |work| %>
              <div class="row">
                <div class="col-sm-8">
                  <strong><%= work.job_title %></strong> at <%= work.company %><br>
                  <div class="jusitfy">
                    <%= work.description %>
                    <br><br>
                  </div>
                </div>
                <div class="col-sm-4" style="text-align:right"><%= work.date_enter %> - <%= work.date_quit %></div>
              </div>
            <%end%>

          </div>
        </section>
        <%end%>

        <% if @user.educations.present? %>
        <section>
          <div class="title-content"><%= image_tag 'graduate-icon-01.png', style: 'width:25px;height:25px'%><strong> EDUCATIONS</strong></div>
          <div class="main-content">
            <% @user.educations.order(end_date: :desc).take(4).each do |edu| %>
              <div class="row">
                <div class="col-sm-8">
                  <strong><%= edu.major %></strong> at <%= edu.school %><br>
                  <div class="jusitfy">
                    <%= edu.description %>
                    <br><br>
                  </div>
                </div>
                <div class="col-sm-4" style="text-align:right"><%= edu.date_enter %> - <%= edu.date_quit %></div>
              </div>
            <%end%>

          </div>
        </section>
        <%end%>
        <% if @user.projects.present? %>
        <section>
          <div class="title-content"><%= image_tag 'rocket-icon-01.png', style: 'width:25px;height:25px'%><strong> PROJECTS</strong></div>
          <div class="main-content">
            <% @user.projects.order(project_date: :desc).take(4).each do |pro| %>
              <div class="row">
                <div class="col-sm-8">
                  <strong><%= pro.title %></strong> at <%= pro.company %><br>
                  <div class="jusitfy">
                    <%= pro.description %>
                    <br><br>
                  </div>
                </div>
                <div class="col-sm-4" style="text-align:right"><%= pro.pro_date %></div>
              </div>
            <%end%>

          </div>
        </section>
        <%end%>

        <% if @user.references.present? %>
        <section>
          <div class="title-content"><%= image_tag 'phone-icon-1.png', style: 'width:25px;height:25px'%><strong> REFERENCES</strong></div>
          <div class="main-content">
            <% @user.references.take(2).each do |ref| %>
              <div class="row">
                <div class="col-sm-8">
                  <strong><%= ref.name %></strong> (<%= ref.company %>)<br>
                  <div class="jusitfy">
                    <%= ref.address %><br>
                    <%= ref.email %><br>
                    <br><br>
                  </div>
                </div>
                <div class="col-sm-4" style="text-align:right"><strong>Phone:</strong> <%= ref.phone%></div>
              </div>
            <%end%>

          </div>
        </section>
        <%end%>
      </div>
    </div>

    </div>

  </body>
  </html>
