<html>
<head>
  <title>E-resume.my</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'resume2', media: 'all' %>
  <%= stylesheet_link_tag    'print', media: 'print' %>

<style>
html,body{
  margin:0;
  padding: 0;
  margin: 0;
  padding: 0;
}

body{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
font-weight: normal;
line-height: 18px;
color: #595959;
}
@media print{
.left-box{
  background-color: white !important;
}
}
</style>

</head>
<body>
<div class="main">
      <div class="left-box">

        <% if @user.summary.present? %>
        <section>
          <div class="body">
            <%= @user.summary.description %>
          </div>
        </section>
        <% end %>
        <% if @user.educations.present? %>
        <div class="row">
        <section>
          <div class="title">
          <span style="padding-left:9px"><i class="fa fa-graduation-cap"></i></span><span style="padding-left:10px">EDUCATIONS</span>
          </div>
          <div class="body">
            <% @user.educations.each do |edu| %>
                <div class="col-sm-6" style="font-weight:bold;">
                    <%= edu.major %>
                </div>
                <div class="col-sm-6" style="text-align:right"><%= edu.date_enter %> - <%= edu.date_quit %></div>
                <div class="col-sm-12"><%= edu.school %><br><%= edu.description%></div>
              <%end %>
          </div>
        </section>
        </div>
        <%end%>
        <% if @user.employment_histories.present? %>
        <div class="row">
        <section>
          <div class="title">
          <span style="padding-left:9px"><i class="fa fa-briefcase"></i></span><span style="padding-left:10px">EXPERIENCES</span>
          </div>
          <div class="body">
            <% @user.employment_histories.each do |work| %>
                <div class="col-sm-6" style="font-weight:bold;">
                    <%= work.job_title %>
                </div>
                <div class="col-sm-6" style="text-align:right"><%= work.date_enter %> - <% if work.presently_emp? %>
                 Present
                <%else%>
                <%= work.date_quit %>
                <%end%></div>
                <div class="col-sm-12"><%= work.company %><br><%= work.description%></div>
              <%end %>
          </div>
        </section>
      </div>
        <%end%>
        <% if @user.projects.present? %>
        <div class="row">
        <section>
          <div class="title">
          <span style="padding-left:9px"><i class="fa fa-rocket"></i></span><span style="padding-left:10px">PROJECTS</span>
          </div>
          <div class="body">
            <% @user.projects.each do |project| %>
                <div class="col-sm-6" style="font-weight:bold;">
                    <%= project.title %>
                </div>
                <div class="col-sm-6" style="text-align:right"><%= project.pro_date %></div>
                <div class="col-sm-12"><%= project.company %><br><%= project.description%></div>
              <%end %>
          </div>
        </section>
      </div>
        <%end%>
        <% if @user.references.present? %>
        <div class="row">
        <section>
          <div class="title">
          <span style="padding-left:9px"><i class="fa fa-phone"></i></span><span style="padding-left:10px">REFERENCES</span>
          </div>
          <div class="body">
            <% @user.references.each do |ref| %>
                <div class="col-sm-6" style="font-weight:bold;">
                    <%= ref.name %>
                </div>
                <div class="col-sm-12"><%= ref.company%><br><%= ref.address%><br><%= ref.phone%><br><%= ref.email%></div>
              <%end %>
          </div>
        </section>
      </div>
        <%end%>
      </div>

      <div class="right-box">
          <div style="padding:10px">
          <h3><center><%= @user.personal_detail.name %></center></h3>

          </div>
          <div class="section-title">
            PERSONAL DETAILS
          </div>
          <div class="body">
            <strong>Phone</strong><br>
            <%= @user.personal_detail.phone_no %><br>
            <strong>Address</strong><br>
            <%= @user.personal_detail.full_street_address %><br>
            <strong>Email</strong><br>
            <%= @user.email %><br>
          </div>
          <div class="section-title">
            SKILLS
          </div>
          <div class="body">
            <% @user.skills.order(rate: :desc).each do |skill|%>
            <div><%= skill.title %></div>
            <div class="progress">
              <div class="progress-bar progress-bar-default" style="width:<%= 100*skill.rate/5%>%" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span style="text-align:center"><%= 100*skill.rate/5%>%</span>
              </div>
            </div>
            <%end%>
          </div>
          <div class="section-title">
            LANGUAGES
          </div>
          <div class="body">
            <% @user.languages.each do |language|%>
            <div class="progress">
              <div class="progress-bar progress-bar-default" style="width:<%= 100*language.writing_rate/5%>%" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span style="text-align:center"><%= language.title %></span>
              </div>
            </div>
            <%end%>
          </div>
      </div>
    </div>
</body>
</html>
