<!DOCTYPE html>
<html>
  <head>
    <title>E-resume.my</title>
    <meta name="pdfkit-page_size" content="A4"/>
    <meta name="pdfkit-margin_top" content="0"/>
    <meta name="pdfkit-margin_right" content="0"/>
    <meta name="pdfkit-margin_bottom" content="10"/>
    <meta name="pdfkit-margin_left" content="0"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' -%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'resume3', media: 'all'%>
    <%= stylesheet_link_tag    'print', media: 'all' %>
    <style>

    </style>
  </head>

  <body>
    <div class="main">
      <div class="header">
        <div class="name-header"><%= @user.personal_detail.name %></div>
        <div class="info-header">
          <div style="float:left;padding-right:5px"><%= image_tag 'phone-01.png', style:'width:15px;height:15px'%></div><div class="color" style="padding-top:3px;float:left"><%= @user.personal_detail.phone_no %> / <%= @user.email%></div>
          <br><br>
          <div style="float:left;padding-right:5px"><%= image_tag 'map-marker-01.png', style:'width:15px;height:15px'%></div><div class="color" style="padding-top:3px;float:left"><%= @user.personal_detail.full_street_address %></div>

        </div>
      </div>
      <div class="row content">
        <section class="sec-content" style="text-align:justify">
          <%= @user.summary.description %>
          <br><br>
        </section>
        <section class="sec-content">
          <div class="sec-title"><strong>EXPERIENCES</strong><legend></legend></div>
          <div class="main-content">
            <% @user.employment_histories.order(start_date: :desc).each do |work| %>
            <div class="row">
                <div class="col-sm-8 grey-color">
                  <strong><%= work.job_title %></strong><br>
                  <%= work.company %><br>
                  <%= work.description %><br><br>
                </div>
                <div class="col-sm-4 grey-color" style="text-align:right"> <%= work.date_enter %> - <%= work.date_quit %></div>
            </div>
            <%end%>
          </div>
        </section>
        <section class="sec-content ">
          <div class="sec-title"><strong>EDUCATIONS</strong><legend></legend></div>
          <div class="main-content">
            <% @user.educations.order(end_date: :desc).each do |edu| %>
            <div class="row">
                <div class="col-sm-8 grey-color">
                  <strong><%= edu.major %></strong><br>
                  <%= edu.school %><br>
                  <%= edu.description %><br><br>
                </div>
                <div class="col-sm-4 grey-color" style="text-align:right"> <%= edu.date_enter %> - <%= edu.date_quit %></div>
            </div>
            <%end%>
          </div>
        </section>
        <section class="sec-content">
          <div class="sec-title"><strong>PROJECTS</strong><legend></legend></div>
          <div class="main-content">
            <% @user.projects.order(project_date: :desc).each do |pro| %>
            <div class="row">
                <div class="col-sm-8 grey-color">
                  <strong><%= pro.title %></strong><br>
                  <%= pro.company %><br>
                  <%= pro.description %><br><br>
                </div>
                <div class="col-sm-4 grey-color" style="text-align:right"> <%= pro.pro_date %> </div>
            </div>
            <%end%>
          </div>
        </section>
        <section class="sec-content">
          <div class="sec-title"><strong>SKILLS</strong><legend></legend></div>
          <div class="main-content">
            <% @user.skills.order(rate: :desc).each do |skill| %>
            <div class="row">
                <div class="col-sm-6 grey-color">
                  <strong><%= skill.title %></strong><br>
                  <br>
                </div>
                <div class="col-sm-6 grey-color" style="text-align:right">
                  <div class="progress">
                      <div style="width: <%= 100*skill.rate/5 %>%;" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="grey-color" style="text-align:right"><%= skill.skil_rate%><br><br></div>
                </div>
            </div>
            <%end%>
          </div>
        </section>
        <section class="sec-content line-break">
          <div class="sec-title"><strong>LANGUAGES</strong><legend></legend></div>
          <div class="main-content">
            <% @user.languages.order(writing_rate: :desc).each do |lan| %>
            <div class="row">
                <div class="col-sm-6 grey-color">
                  <strong><%= lan.title %></strong><br>
                  <br>
                </div>
                <div class="col-sm-6 grey-color" style="text-align:right">
                  <div class="progress">
                      <div style="width: <%= 100*lan.writing_rate/5 %>%;" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="grey-color" style="text-align:right"><%= lan.lan_rate%><br><br></div>
                </div>
            </div>
            <%end%>
          </div>
        </section>
      </div>
    </div>
  </body>
  </html>
