<!DOCTYPE html>
<html>
  <head>
    <title>E-resume.my</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'resume4', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- CSS Layout -->
<style>
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #fff;
  font-size: 14px;
}


</style>
<!-- CSS Layout -->
  </head>

  <body>
    <div id="wrapper">
        <div id="header">
            <div class="header-title">
                <% if @user.personal_detail.present? %>
              <%= @user.personal_detail.name%>
              <%end%>
            </div>
        </div>
        <div id="content">
          <div class="container container-fluid">
            <% if @user.summary.present? %>
            <section>
              <div class="body">
                <%= @user.summary.description %>
              </div>
            </section>
            <% end %>
            <!-- ******* -->
            <br><br>
            <% if @user.educations.present? %>
            <div class="row">
            <section>
              <div class="title">
              <span style="padding-left:9px"><span class="fa fa-graduation-cap"></span></span><span style="padding-left:10px">EDUCATIONS</span>
              </div>
              <div class="body" style="text-align:left">
                <% @user.educations.order(end_date: :desc).take(3).each do |edu| %>
                    <div class="col-sm-6" style="font-weight:bold;">
                        <%= edu.major %>
                    </div>
                    <div class="col-sm-6" style="text-align:right"><%= edu.date_enter %> - <%= edu.date_quit %></div>
                    <div class="col-sm-12"><%= edu.school %><br><%= edu.description%></div>
                  <%end %>
                  <div class="visible-sm">
                  </div>
              </div>
            </section>
            </div>
            <%end%>
            <!-- ******* -->
            <% if @user.employment_histories.present? %>
            <div class="row">
            <section style="padding-top:15px">
              <div class="title">
              <span style="padding-left:9px"><i class="fa fa-briefcase"></i></span><span style="padding-left:10px">EXPERIENCES</span>
              </div>
              <div class="body">
                <% @user.employment_histories.order(end_date: :desc).take(3).each do |work| %>
                    <div class="col-sm-6" style="font-weight:bold;">
                        <%= work.job_title %>
                    </div>
                    <div class="col-sm-6" style="text-align:right"><%= work.date_enter %> - <% if work.presently_emp? %>
                     Present
                    <%else%>
                    <%= work.date_quit %>
                    <%end%></div>
                    <div class="col-sm-12"><%= work.company %><br><%= work.description%></div>
                  <%end %>
                </div>
              </section>
            </div>
              <%end%>
              <!-- ******* -->
              <% if @user.projects.present? %>
              <div class="row">
              <section style="padding-top:15px">
                <div class="title">
                <span style="padding-left:9px"><i class="fa fa-rocket"></i></span><span style="padding-left:10px">PROJECTS</span>
                </div>
                <div class="body">
                  <% @user.projects.order(project_date: :desc).take(3).each do |project| %>
                      <div class="col-sm-6" style="font-weight:bold;">
                          <%= project.title %>
                      </div>
                      <div class="col-sm-6" style="text-align:right"><%= project.pro_date %></div>
                      <div class="col-sm-12"><%= project.company %><br><%= project.description%></div>
                    <%end %>
                </div>
              </section>
            </div>
              <%end%>
              <!-- ******* -->
              <% if @user.references.present? %>
              <div class="row">
              <section style="padding-top:15px">
                <div class="title">
                <span style="padding-left:9px"><i class="fa fa-phone"></i></span><span style="padding-left:10px">REFERENCES</span>
                </div>
                <div class="body">
                  <% @user.references.take(2).each do |ref| %>
                      <div class="col-sm-6" style="font-weight:bold;">
                          <%= ref.name %>
                      </div>
                      <div class="col-sm-12"><%= ref.company%><br><%= ref.address%><br><%= ref.phone%><br><%= ref.email%></div>
                    <%end %>
                </div>
              </section>
            </div>
              <%end%>
          </div>
       </div>
<!-- ======================================================== -->
        <div id="rightcolumn">
            <% if @user.personal_detail.present? %>
          <div class="section-title">PERSONAL DETAILS</div>
          <div class="line"></div>
          <div class="section-body">
            <h6 style="font-weight:bold">PHONE</h6>
            <%= @user.personal_detail.name %>
            <h6 style="font-weight:bold">EMAIL</h6>
            <%= @user.email %>
            <h6 style="font-weight:bold">ADDRESS</h6>
            <%= @user.personal_detail.full_street_address %>
          </div>
          <%end%>
          <% if @user.skills.present? %>
          <div class="section-title">KEY SKILLS</div>
          <div class="line"></div>
          <div class="section-body">
            <% @user.skills.order(rate: :desc).each do |skill|%>
            <div style="padding-bottom:10px"><%= skill.title %></div>
            <div class="progress">
              <div class="progress-bar progress-bar-default" style="width:<%= 100*skill.rate/5%>%" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span style="text-align:center"><%= skill.skil_rate %></span>
              </div>
            </div>
            <%end%>
          </div>
          <%end%>
          <% if @user.languages.present? %>
          <div class="section-title">LANGUAGES</div>
          <div class="line"></div>
          <div class="section-body">
            <% @user.languages.each do |language|%>
            <div style="padding-bottom:10px"><%= language.title %></div>
            <div class="progress">
              <div class="progress-bar progress-bar-default" style="width:<%= 100*language.writing_rate/5%>%" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span style="text-align:center"> <%= language.lan_rate %></span>
              </div>
            </div>
            <%end%>
          </div>
          <%end%>
          <% if @user.certificates.present? %>
          <div class="section-title">CERTIFICATES</div>
          <div class="line"></div>
          <div class="section-body">
            <% @user.certificates.each do |certificate|%>
            <div style="padding-bottom:10px"><%= certificate.title %></div>

            <%end%>
          </div>
          <%end%>
        </div>
    </div>
  </body>

</html>
<script>
$(document).ready(function() {
     $('.progress .progress-bar').css("width",
               function() {
                   return $(this).attr("aria-valuenow") + "%";
               }
       )
   });
</script>
