<style>
.radio-toolbar label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.radio-toolbar label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:5px solid transparent;
}
.radio-toolbar label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:5px solid #457c7a;
}


</style>
<div class="container"style="min-height: 500px;text-align:center">
<% if current_user.user_layout.present? %>
<div class="panel panel-default">
  <div class="panel-heading"><strong>CHOOSE LAYOUT</strong></div>
  <div class="panel-body">
  <%= form_for(current_user.user_layout) do |f| %>

  <div class="radio-toolbar">
  <%= f.collection_radio_buttons(:layout_id, Layout.all, :id, :layout_image)  do |b| %>
    <div class="col-sm-3"><%= b.label { b.radio_button + image_tag(b.object.layout_image(:medium)) } %></div>
  <%end%>
</div>
    <div class="row">
    <div class="col-sm-12">
      <br>
      <center><%= f.submit 'Save', class: 'btn btn-success', style:'width:150px' %></center>
    </div>
  </div>
<%end%>
</div></div>
  <%else%>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>CHOOSE LAYOUT</strong></div>
    <div class="panel-body">
    <%= form_for(current_user.build_user_layout) do |f| %>
    <div class="radio-toolbar">
    <%= f.collection_radio_buttons(:layout_id, Layout.all, :id, :layout_image)  do |b| %>
      <div class="col-sm-4"><%= b.label { b.radio_button + image_tag(b.object.layout_image) } %></div>
    <%end%>
    </div>
      <div class="row">
      <div class="col-sm-12">
        <br>
        <center><%= f.submit 'Save', class: 'btn btn-success', style:'width:150px' %></center>
      </div>
    </div>
    <%end%>
  </div></div>
    <%end%>
</div>
<section><br></section>
<!--
<div class="container"style="min-height: 500px;margin-left:155px">
  <div class="panel panel-default" style="margin:20px; padding:20px; width:750px;">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default" style="width:213px;padding:5px">
          <section><img src="#" style="width:200px;height:300px;"/></section>
          <section>
            <center>
            <% if current_user.user_layout.present?  %>
                <%= render 'user_layouts/form', user_layout: current_user.user_layout %>
            <%end%>
            </center>
          </section>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default" style="width:213px;padding:5px">
          <section><img src="#" style="width:200px;height:300px;"/></section>
          <section>
            <center>
            <% if current_user.user_layout.present?  %>
                <%= render 'user_layouts/form', user_layout: current_user.user_layout %>
            <%end%>
            </center>
          </section>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default" style="width:213px;padding:5px">
          <section><img src="#" style="width:200px;height:300px;"/></section>
          <section>
            <center>
            <% if current_user.user_layout.present?  %>
                <%= render 'user_layouts/form', user_layout: current_user.user_layout, title: 'resume_layout/resume2' %>
            <%end%>
            </center>
          </section>
        </div>
      </div>
    </div>
    <!---->
<!--
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default" style="width:213px;padding:5px">
          <section><img src="#" style="width:200px;height:300px;"/></section>
          <section>
            <center>
            <% if current_user.user_layout.present? %>
                <%= render 'user_layouts/form', user_layout: current_user.user_layout %>
            <%end%>
            </center>
          </section>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default" style="width:213px;padding:5px">
          <section><img src="#" style="width:200px;height:300px;"/></section>
          <section>
            <center>
            <% if current_user.user_layout.present?  %>
                <%= render 'user_layouts/form', user_layout: current_user.user_layout %>
            <%end%>
            </center>
          </section>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default" style="width:213px;padding:5px">
          <section><img src="#" style="width:200px;height:300px;"/></section>
          <section>
            <center>
            <% if current_user.user_layout.present?  %>
                <%= render 'user_layouts/form', user_layout: current_user.user_layout %>
            <%end%>
            </center>
          </section>
        </div>
      </div>
    </div>
    <!---->
