<style>
  @media screen and (max-width:780px){
    .panel{
      margin-top: 50px;
      margin-right: 30px;
      margin-left: 30px;
    }
  }
</style>

<div class="panel panel-default" style="margin-left:35px">
  <div class="panel-body">
  <%= form_for(@layout, url:'#', method: :post) do |f| %>
    <%= f.label :name, class:'form-label' %>
    <div class="input-group">
    <span class="input-group-addon">resume_layout/</span>
    <%= f.text_field :name, class: 'form-control', placeholder: 'layout name' %>
    </div>
    <br>
    <%= f.label 'Upload Image', class:'form-label' %>
    <%= f.file_field :layout_image %>
    <br>
    <%= f.submit 'Submit', class: 'btn btn-default' %>
  <%end%>
</div>
</div>
<legend></legend>

<div class="container">
  <table class="table">
    <tr>
      <td>Layout Image</td>
      <td>Name</td>
    </tr>
  <% @layouts.each do |layout| %>
  <tr>
    <td>
      <%= image_tag(layout.layout_image(:thumb)) %>

    </td>
    <td>
      <%= layout.name %>
    </td>
  </tr>
  <%end%>
  </table>
</div>
