<%= form_for(reference) do |f| %>
  <% if reference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reference.errors.count, "error") %> prohibited this reference from being saved:</h2>

      <ul>
      <% reference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :name, class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :name, class: 'form-control', autofocus: true, required: true %>
    <br>
  </div>
</div>

<div class="field">
  <%= f.label :relationship, class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :relationship, class: 'form-control', autofocus: true, required: true %>
    <br>
  </div>
</div>

<div class="field">
  <%= f.label :company, class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :company, class: 'form-control', autofocus: true, required: true %>
    <br>
  </div>
</div>

<div class="field">
  <%= f.label :email, class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :email, class: 'form-control', autofocus: true, required: true %>
    <br>
  </div>
</div>

<div class="field">
  <%= f.label :phone, class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :phone, class: 'form-control', autofocus: true, required: true %>
    <br>
  </div>
</div>

<div class="field">
  <%= f.label :address, class:'col-sm-2 control-label', required: true %>
  <div class="col-sm-10">
    <%= f.text_area :address, class: 'form-control', autofocus: true %>
    <br>
  </div>
</div>

<div class="field">
  <%= f.label :description, class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_area :description, class: 'form-control', autofocus: true %>
    <br>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="pull-right">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<% end %>

<script type='text/javascript'>
/*
$( document ).ready(function () {
  $( "#new_reference" ).validate( {
    rules: {
      name: {required: true},
      relationship: {required: true},
      company: {required: true},
      address: {required: true}


    },
    messages: {
      name: "Name can't be blank",
      relationship: "Relationship can't be blank",
      company: "Company can't be blank",
      address: "Address can't be blank"

    },
    errorElement: "em",
    errorPlacement: function ( error, element ) {
      // Add the `help-block` class to the error element
      error.addClass( "help-block" );

      if ( element.prop( "type" ) === "checkbox" ) {
        error.insertAfter( element.parent( "label" ) );
      } else {
        error.insertAfter( element );
      }

    },
    highlight: function ( element, errorClass, validClass ) {
      $( element ).parents( ".col-sm-10, .col-sm-4" ).addClass( "has-error" ).removeClass( "has-success" );
    },
    unhighlight: function (element, errorClass, validClass) {
      $( element ).parents( ".col-sm-10, .col-sm-4" ).addClass( "has-success" ).removeClass( "has-error" );
    }
  });
});
*/
</script>
