<style>

</style>
<%= form_for(certificate) do |f| %>


  <div class="field">
    <%= f.label :title, class:'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :title, name:'title', class: 'form-control', autofocus: true, required: true %>
      <span></span>
      <br>
    </div>
  </div>


  <div class="field">
    <%= f.label :date, class:'col-sm-2 control-label' %>
    <div class="col-sm-4">
        <div class='input-group date' id='datetimepicker5'>
          <%= f.text_field :date, name: 'date', class: "form-control", required: true %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      <br>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="pull-right">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
/*
$(document).ready(function(){
    $('#datetimepicker5').datetimepicker({
      format: 'YYYY-MM-DD'
    });
});
$( document ).ready(function () {
  $( "#new_certificate" ).validate( {
    rules: {
      title: {required: true},
      date: {required: true}
    },
    messages: {
      title: "Title can't be blank",
      date: "Date can't be blank"
    },
    errorElement: "em",
    errorPlacement: function ( error, element ) {
      // Add the `help-block` class to the error element
      error.addClass( "help-block" );

      if ( element.prop( "type" ) === "checkbox" ) {
        error.insertAfter( element.parent( "label" ) );
      } else {
        error.insertAfter( element );
      }

    },
    highlight: function ( element, errorClass, validClass ) {
      $( element ).parents( ".col-sm-10, .col-sm-4" ).addClass( "has-error" ).removeClass( "has-success" );
    },
    unhighlight: function (element, errorClass, validClass) {
      $( element ).parents( ".col-sm-10, .col-sm-4" ).addClass( "has-success" ).removeClass( "has-error" );
    }
  });
});
*/
</script>
