<%= form_for(employment_history, id:'form_emp', remote: true) do |f| %>
  <% if employment_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employment_history.errors.count, "error") %> prohibited this employment_history from being saved:</h2>

      <ul>
      <% employment_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_title, class:'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :job_title, class: 'form-control', autofocus: true %>
      <br>
    </div>
  </div>

  <div class="field">
    <%= f.label :company, class:'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :company, class: 'form-control', autofocus: true %>
      <br>
    </div>
  </div>

  <div class="field">
    <%= f.label :location, class:'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :location, class: 'form-control', autofocus: true %>
      <br>
    </div>
  </div>

  <div class="field">
    <%= f.label 'Presently Employ', class:'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.check_box :presently_emp, id: 'present' %>
      <br>
    </div>
  </div>
  <div class="col-sm-12"></div>
  <div class="field">
    <%= f.label :description, class:'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: 'form-control', autofocus: true %>
      <br>
    </div>
  </div>

  <div class="field">
    <%= f.label :start_date, class:'col-sm-2 control-label' %>
    <div class="col-sm-4">
        <div class='input-group date' id='datetimepicker3'>
          <%= f.text_field :start_date, class: "form-control" %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      <br>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :end_date, class:'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <div class='input-group date' id='datetimepicker4'>
        <%= f.text_field :end_date, class: "form-control",  id:'date-field1' %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <br>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="pull-right">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<script type='text/javascript'>

$('#form_emp').submit(function() {
   var valuesToSubmit = $(this).serialize();
   $.ajax({
       type: "POST",
       url: $(this).attr('action'), //sumbits it to the given url of the form
       data: valuesToSubmit,
       dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
   }).success(function(json){
       console.log("success", json);
   });
   return false; // prevents normal behaviour
});
$(function () {
        $('#datetimepicker3').datetimepicker({
            format: 'YYYY-MM-DD'
        });
        $('#datetimepicker4').datetimepicker({
            useCurrent: false,
            format: 'YYYY-MM-DD' //Important! See issue #1075

        });
        $("#datetimepicker3").on("dp.change", function (e) {
            $('#datetimepicker4').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker4").on("dp.change", function (e) {
            $('#datetimepicker3').data("DateTimePicker").maxDate(e.date);
        });

});
$(function (){
  enable_cb();
  $("#present").click(enable_cb);
});
function enable_cb() {
    $("#date-field1").prop("disabled", this.checked);
}

</script>
