<!DOCTYPE html>
<head>
<title>Admin Page</title>

<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'admin', media: 'all' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-left">
    <a class="navbar-brand" href="#">Admin Panel</a>
    <ul class="nav navbar-nav">
     <li><a href="<%= manage_layout_new_path%>">Add Layout <span style="padding-left:15px" id="dip" class="glyphicon glyphicon-file"></span></a></li>
     <li><a href="<%= destroy_admin_session_path %>" data-method="<%= :delete%>">Logout <span style="padding-left:44px" id="dip2" class="glyphicon glyphicon-log-out"></span> </a></li>
    </ul>
  </div>
  <div class="container">
   <div class="row">
     <br>
     <p><%= yield%></p>
   </div>
  </div>
</body>
</html>
<script>
function htmlbodyHeightUpdate() {
    var height3 = $(window).height();
    var height1 = $('.nav').height() + 50;
    height2 = $('.container-main').height();
    if (height2 > height3) {
        $('html').height(Math.max(height1, height3, height2) + 10);
        $('body').height(Math.max(height1, height3, height2) + 10);
    } else
    {
        $('html').height(Math.max(height1, height3, height2));
        $('body').height(Math.max(height1, height3, height2));
    }

}
$(document).ready(function () {
    htmlbodyHeightUpdate();
    $(window).resize(function () {
        htmlbodyHeightUpdate();
    });
    $(window).scroll(function () {
        height2 = $('.container-main').height();
        htmlbodyHeightUpdate();
    });
});
</script>
